[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/autosuggestions"]
	path = zsh/autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "system/autojump"]
	path = system/autojump
	url = https://github.com/wting/autojump.git
